@model IEnumerable<AssignmentFive.ViewModels.LeaderActivityData>
@{
    ViewBag.Title = "Trip Leaders";
}
<h2>Trip Leader Statistics</h2>
<table>
    <tr>
        <th style="width:30%;">
            Trip Leader
        </th>
        
        <th style="width:30%;">
            Number of Trips
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TripLeaderLastName)
            </td>
            <td>
                @item.ActivityCount
            </td>
        </tr>
    }
</table>
